@model List<EShop.Web.Models.Domain.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="m-3">
        <a class="btn btn-success" asp-controller="Products" asp-action="Create">Add new product</a>
    </div>
    @for (var i = 0; i < Model.Count; i++)
    {
        var Item = Model[i];

        if (i % 3 == 0)
        {
            @:<div class="row">
        }

        <div class="col-md-3 m-4">
        <div class="card" style="width: 18rem; height: 35rem">
        <img class="card-img-top" src="@Item.ProductImage" style="height:50%" alt="Image for product!">
            <div class="card-body">
                <h3 class="card-title">@Item.ProductName</h3>
                <p class="card-text">@Item.ProductDescription</p>
                <h6>Price: @Item.ProductPrice MKD</h6>
           
            </div>
            <div class="card-footer">

                <a asp-controller="Products" asp-action="AddToProductCart" class="btn btn-info">Add to Cart</a>
                <a asp-controller="Products" asp-action="Edit" asp-route-id="@Item.Id" class="btn btn-secondary">Edit</a>
                <a asp-controller="Products" asp-action="Delete" asp-route-id="@Item.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>

        </div>

        if (i % 3 == 2)
        {
            @:</div>
        }
        {
            
        }
    }

</div>


