@model EShop.Web.Models.DTO.ShoppingCartDTO

<div class="m-5">
    <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Sum</th>
    </tr>
  </thead>
  <tbody>
      @for (var i = 0; i < Model.productinShoppingCarts.Count; i++)
      {
            var item =Model.productinShoppingCarts[i];
      <tr>
      <th scope="row">@(i+1)</th>
      <td>@item.Product.ProductName</td>
      <td>@item.Product.ProductPrice</td>
      <td>@item.Quantity</td>
      <td>@(@item.Product.ProductPrice *item.Quantity) MKD</td>
    </tr>
      }
  </tbody>
  <tfoot>
      <tr>
      <th scope="col">Total Price:</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">@Model.totalPrice MKD</th>
    </tr>
  </tfoot>
</table>
</div>